<div class="gridWrapper">
    <div class=row ng-repeat="seeds in data | groupBy:3">
        <div class="col-xs-4  gridElement" ng-repeat="seed in seeds" >
            <div class="gridElementWrapper">
                <div class="gridElementTitle"><b>{{seed.seedTitle}}</b></div>
                <div class="gridElementImage"><img ng-src="{{seed.seedImageURL}}"/></div>
                <div class="gridElementCount">Branch Count: {{seed.numberOfBranches}}</div>
            </div>
        </div>
    </div>
</div>