<!DOCTYPE html>
<html ng-app="mainApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>SeedIt</title>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="../JavaScript/mainApp.js"></script>
    <script src="../JavaScript/mainController.js"></script>
    <link rel="stylesheet" type="text/css"  href="../CSS/style.css">
</head>
<body>
    <div class="mainWrapper" ng-controller="mainController">

        <div id="header">
            <div class="logo" ng-click="alertEM('Yep, this is the logo')">
            SeedIt
            </div>
            <div class="loginSignup" ng-click="alertEM('Thank you for signing up!')">
                Login/Sign-up
            </div>
        </div>
        <div id="search">
            <div class="newIdea" ng-click="alertEM('Nah, that would never work...')">
                New Idea
            </div>
            <div class="largeBuffer">

            </div>
            <input class="searchBar" placeholder="Type in me!" ng-model="searchStr">
        </div>

        <div id="views">
            <div class="view1">
                {{searchStr}}
            </div>
            <div class="view2">

            </div>
        </div>
    </div>
</body>
</html>
