<div class="newIdeaDiv" ng-controller="newIdeaController as ctrl">
    <div class="container">
        <div class="row">
            <div class="newIdeaBody col-md-4">
                <div class="newIdeaHeader">
                    <h3>What is your seed?</h3>
                    <hr>
                </div>
                <div class="col-md-11">
                    <h4>Idea Title</h4>
                    <input type="text" class="form-control" ng-model="ctrl.title">

                    <h4>Give us a URL for your image</h4>
                    <input type="text" class="form-control" ng-model="ctrl.imageURL">

                    <h4>Describe your idea</h4>
                    <textarea class="form-control" ng-model="ctrl.description"></textarea>

                    <h4>Hashtag your idea for visibility</h4>
                    <input type="text" class="form-control" ng-model="ctrl.tags">

                    <button class="btn btn-success" ng-click="ctrl.submitIdea()">Seed It!</button>
                </div>
            </div>
            <div class="newIdeaPreview col-md-4">
                <div class="previewHeader">
                    <h3>A preview of your idea:</h3>
                    <hr>
                </div>
                <div class="newIdeaForm col-md-11">
                    <h4>{{ctrl.title}}</h4>
                    <img class="newIdeaPreviewImage" fallback-src="../images/seed.jpg" ng-src="{{ctrl.imageURL}}"/>
                    <p class="newIdeaDescription">{{ctrl.description}}</p>
                    <p>{{ctrl.tags}}</p>
                </div>
                <p style="color:#FFFFFF">http://students.cs.byu.edu/~tbell22/cs428/images/toaster-buggy-small.jpg</p>
            </div>
        </div>
    </div>
</div>